# **Tuple**

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan")
print(T1)
print(type(T1))

T2 = ("India",)
print(type(T2))
print(T1[1])
print(len(T1))

('Pakistan', 'Nepal', 5, 8.9, 'Sudan')
<class 'tuple'>
<class 'tuple'>
Nepal
5

In [2]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
#print(T1[-2])

print(T1[-2:-5:-1])

('Korea', 55, 'Sudan')

In [3]:
# Method 1 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.append("Indonesia")
T1 = tuple(x)
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 55, 'Korea', '09', 'Indonesia')

In [4]:
# To remove items from tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.pop()
T1 = tuple(x)
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 55, 'Korea')

In [5]:
T1 = ("Pakistan", "Nepal", (5,6), 8.9)
var1, var2, var3, var4 = T1
print(var1)
print(var2)
print(var3)
print(var4)
print(type(var3))
print(type(T1))

Pakistan
Nepal
(5, 6)
8.9
<class 'tuple'>
<class 'tuple'>

In [6]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
var1, var2, *var3, var4, var5 = T1
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

Pakistan
Nepal
[5, 8.9, 'Sudan', 55]
Korea
09

In [7]:
join1 = (3, 5, 7)
join2 = ("P", "A", "K")
join3 = (2, 4, 6)
print(join1 + join2 + join3)
print(join1+join3)
join1 += join3
join1 = join1 + join3
print(join1)

(3, 5, 7, 'P', 'A', 'K', 2, 4, 6)
(3, 5, 7, 2, 4, 6)
(3, 5, 7, 2, 4, 6, 2, 4, 6)

# **Tuple Methods**

Python has two built-in methods for tuple.

* `count()` method

* `index()` method

In [ ]:
T1 = ("Pakistan", 5,"Nepal", 5, 8.9, "Sudan", 5, "Korea", "09", "Sudan")

# count() method
print(T1.count("Sudan"))

#index() method
print(T1.index("Sudan"))